
<app-manager-header></app-manager-header>
<app-manager-navbar></app-manager-navbar>
<div class="right">
  <div class="text-center">
    <input type="text" class="search"  placeholder="Search here" (input)="handleInput($event)">
  </div>
  <div class="container">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- _id Column -->
    <!-- <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>_id</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!user.editing">{{ user._id }}</span>
        <input *ngIf="user.editing" type="text" [(ngModel)]="user._id" (keyup.enter)="toggleEdit(user)">
      </td>
    </ng-container> -->
  
    <!-- user_id Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>UserId</th>
      <td mat-cell *matCellDef="let order">
        <span *ngIf="!order.editing">{{ order.userId }}</span>
        <input *ngIf="order.editing" type="text" [(ngModel)]="order.userId" (keyup.enter)="toggleEdit(order)">
      </td>
    </ng-container>
  
    <!-- username Column -->
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>TotalPrice</th>
      <td mat-cell *matCellDef="let order">
        <span *ngIf="!order.editing">{{ order.totalPrice }}</span>
        <input *ngIf="order.editing" type="text" [(ngModel)]="order.totalPrice" (keyup.enter)="toggleEdit(order)">
      </td>
    </ng-container>
  
    <!-- email Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef>FullName</th>
      <td mat-cell *matCellDef="let order">
        <span *ngIf="!order.editing">{{ order.fullName }}</span>
        <input *ngIf="order.editing" type="text" [(ngModel)]="order.fullName" (keyup.enter)="toggleEdit(order)">
      </td>
    </ng-container>
  
    <!-- address Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let order">
        <span *ngIf="!order.editing">{{ order.phone }}</span>
        <input *ngIf="order.editing" type="text" [(ngModel)]="order.phone" (keyup.enter)="toggleEdit(order)">
      </td>
    </ng-container>
  
    <!-- phone Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let order">
        <span *ngIf="!order.editing">{{ order.email }}</span>
        <input *ngIf="order.editing" type="text" [(ngModel)]="order.email" (keyup.enter)="toggleEdit(order)">
      </td>
    </ng-container>
  
    <!-- role Column -->
    <ng-container matColumnDef="fullAddress">
      <th mat-header-cell *matHeaderCellDef>FullAddress</th>
      <td mat-cell *matCellDef="let order">
        <span *ngIf="!order.editing">{{ order.fullAddress }}</span>
        <input *ngIf="order.editing" type="text" [(ngModel)]="order.fullAddress" (keyup.enter)="toggleEdit(order)">
      </td>
    </ng-container>

    <ng-container matColumnDef="paymentMethod">
      <th mat-header-cell *matHeaderCellDef>PaymentMethod</th>
      <td mat-cell *matCellDef="let order">
        <span *ngIf="!order.editing">{{ order.paymentMethod }}</span>
        <input *ngIf="order.editing" type="text" [(ngModel)]="order.paymentMethod" (keyup.enter)="toggleEdit(order)">
      </td>
    </ng-container>

    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef>OrderDate</th>
      <td mat-cell *matCellDef="let order">
        <span *ngIf="!order.editing">{{ order.orderDate }}</span>
        <input *ngIf="order.editing" type="text" [(ngModel)]="order.orderDate" (keyup.enter)="toggleEdit(order)">
      </td>
    </ng-container>

    <ng-container matColumnDef="products">
      <th mat-header-cell *matHeaderCellDef>Products</th>
      <td mat-cell *matCellDef="let order">
        <span>{{ getBranchDetailsString(order.products) }}</span>
      </td>
    </ng-container>
    
  
    <!-- Edit Action Column -->


  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
</div>  
<mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
[pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
[pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
[pageIndex]="pageIndex" aria-label="Select page">
</mat-paginator>

<!-- <button mat-button color="primary" (click)="updateData()">Update</button> -->
</div>