 <!-- =================== COMPONENT 3 ====================== -->
 <div class="row">
    <div class="colll" >
      <article class="card1" id = "1" (click)="Onclick()">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          (click)="Onclick()"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
              (click)="Onclick()"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title" (click)="Onclick()">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1" (click)="Onclick()">Fast food, halal food</p>
            <span class="badge" (click)="Onclick()">
              <i class="" (click)="Onclick()"></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>
    <!-- col.// -->
    <div class="colll">
      <article class="card1">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1">Fast food, halal food</p>
            <span class="badge">
              <i class=""></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>
    <div class="colll">
      <article class="card1">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1">Fast food, halal food</p>
            <span class="badge">
              <i class=""></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>
    <div class="colll">
      <article class="card1">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1">Fast food, halal food</p>
            <span class="badge">
              <i class=""></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>
    <div class="colll">
      <article class="card1">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1">Fast food, halal food</p>
            <span class="badge">
              <i class=""></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>
    <div class="colll">
      <article class="card1">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1">Fast food, halal food</p>
            <span class="badge">
              <i class=""></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>
    <div class="colll">
      <article class="card1">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1">Fast food, halal food</p>
            <span class="badge">
              <i class=""></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>
    <div class="colll">
      <article class="card1">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1">Fast food, halal food</p>
            <span class="badge">
              <i class=""></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>
    <div class="colll">
      <article class="card1">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1">Fast food, halal food</p>
            <span class="badge">
              <i class=""></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>
    <div class="colll">
      <article class="card1">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1">Fast food, halal food</p>
            <span class="badge">
              <i class=""></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>
    <div class="colll">
      <article class="card1">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1">Fast food, halal food</p>
            <span class="badge">
              <i class=""></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>

    <div class="colll">
      <article class="card1">
        <a href="#">
          <img
          class="img-s1"
          src="/assets/IMG/SFC.avif"
          width="250"
          height="250"
          />
        </a>
        <div class="card-body">
          <div class="float1">
            <img
              class="img-m1"
              src="/assets/IMG/KFC LOGO.png"
              width="72"
              height="72"
            />
          </div>
          <div class="pt-1">
            <h6 class="card-title">
              <a href="#">KFC Moscow</a>
            </h6>
            <p class="mb1">Fast food, halal food</p>
            <span class="badge">
              <i class=""></i> 4.7
            </span>
            <span class="truck1">
              <i class=""></i> 5-10 min, free
            </span>
          </div>
        </div>
        <!-- card-body.// -->
      </article>
    </div>
  </div>
  <!-- row.// -->
  <!-- =================== COMPONENT 3 .// ================== -->