<header class="section-header">  
    <section class="header-main">
      <div class="container">
        <div class="row-serch">
          <div class="brand">
            <a href=" " class="navbar-brand" routerLink="/admin">
                STARIM<span class="boo">boo</span>
                
              </a> <!-- brand end.// -->
          </div>
          <div class="row-in-up">
              <div class="in-up">
<!--   
                  <ng-container *ngIf="this.auth.isAuthenticated();then Authenticated;else notAuthenticated">
  
                  </ng-container> -->
                  
                  <!-- <ng-template #notAuthenticated> -->
                      
                  <!-- </ng-template> -->
  
                      <!-- <ng-template #Authenticated> -->
  
                            
                          <a href="javascript:void(0);" routerLink="/login" class="btn-in-up" (click)="Onclick()"> 
                              <i class="fa fa-shopping-cart"></i> <span class="ms-1">Logout </span> 
                          </a>
                      <!-- </ng-template> -->
  
  
  
              
          </div>
      </div>
      
  </div> 
  </div> 
  </section>
  
  
  </header> 