<app-header></app-header>
<app-navbar></app-navbar>
<div class="menus-container">
    <h2 class="restaurantName"> SFC </h2>
    <h3 class="menu-header">Order Now</h3>
    <div class="menu">
        <div class="header">
            <div class="title">name</div>
        </div>
        <div class="content">
        <p>
            description
        </p>
        </div>
        <div class="action">
            <span>{{'\u20B9'}} price</span>
            <button class="order" (click)="Onclick()">
                Add to Cart
            </button>
        </div>    
    </div>

    <div class="menu">
        <div class="header">
            <div class="title">name</div>
        </div>
        <div class="content">
        <p>
            description
        </p>
        </div>
        <div class="action">
            <span>{{'\u20B9'}} price</span>


            <button class="order" (click)="Onclick()">
                Add to Cart
            </button>



        </div>
    </div>

    <div class="menu">
        <div class="header">
            <div class="title">name</div>
        </div>
        <div class="content">
        <p>
            description
        </p>
        </div>
        <div class="action">
            <span>{{'\u20B9'}} price</span>
            <button class="order" (click)="Onclick()">
                Add to Cart
            </button>
        </div>
    </div>

    <div class="menu">
        <div class="header">
            <div class="title">name</div>
        </div>
        <div class="content">
        <p>
            description
        </p>
        </div>
        <div class="action">
            <span>{{'\u20B9'}} price</span>
            <button class="order" (click)="Onclick()">
                Add to Cart
            </button>
        </div>
    </div>

    <div class="menu">
        <div class="header">
            <div class="title">name</div>
        </div>
        <div class="content">
        <p>
            description
        </p>
        </div>
        <div class="action">
            <span>{{'\u20B9'}} price</span>
            <button class="order" (click)="Onclick()">
                Add to Cart
            </button>
        </div>
    </div>

    <div class="menu">
        <div class="header">
            <div class="title">name</div>
        </div>
        <div class="content">
        <p>
            description
        </p>
        </div>
        <div class="action">
            <span>{{'\u20B9'}} price</span>
            <button class="order" (click)="Onclick()">
                Add to Cart
            </button>
        </div>
    </div>

    <div class="menu">
        <div class="header">
            <div class="title">name</div>
        </div>
        <div class="content">
        <p>
            description
        </p>
        </div>
        <div class="action">
            <span>{{'\u20B9'}} price</span>
            <button class="order" (click)="Onclick()">
                Add to Cart
            </button>
        </div>
    </div>



</div>
