


<nav class="navbar">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar_main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link ps-0" href="#112"> Categories </a>
                </li>

                <li class="pro">
                    <a class="nav-link ps-0" href="#113"> Products </a>
                </li>


                <li class="serchy">
                    <input type="search" placeholder="search for" >
                </li>
                <!-- <li><img src="/assets/icons/2.png" alt=""></li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">
                        Others
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="#">Submenu one </a> </li>
                        <li> <a class="dropdown-item" href="#">Submenu two</a> </li>
                        <li> <a class="dropdown-item" href="#">Submenu three</a> </li>
                    </ul>
                </li> -->

                <li class="carty">
                    <a class="nav-link"  routerLink="cart"  href="#"><img src="/assets/icons/1.png" routerLink="cart"  alt=""></a>
                </li>
        </ul>
    </div> 
</div> 
</nav>