.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    padding-top: 100px;
    overflow-y: hidden;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #92909084;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    overflow-y: hidden;
  }
  
  .cart-item span {
    flex: 1;
  }
  
  .quantity-buttons {
    display: flex;
    align-items: center;
  }
  
  .quantity-buttons button {
    background-color: #f5faf3;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
  }
  
  .quantity-buttons button:hover {
    background-color: #959494;
  }
  
  .cart-summary {
    margin-top: 20px;
  }
  
  .cart-summary button {
    background-color: #f5faf3;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
  }
  
  .cart-summary button:hover {
    background-color: #959494;
  }

  .sp{
    color: red;
  }
  .mdc-dialog__content {
    overflow: hidden;
  }

  .empty{
    margin-left: 50%;
    margin-top: 20px;
  }
  a{
    text-decoration: none;
    
  }

  