<!-- =================== COMPONENT 2 .// ================== -->

<div class="card">
  <div class="content-body">
      <div class="col-xl">
        <a href="#" class="item-link text-center">
          <span class="icon icon-lg mb-2 rounded-3">
            <img
              width="42"
              height="42"
              src="/assets/IMG/fastfood.png"
            />
          </span>
          <span class="text"> Fast food </span>
        </a>
      </div>
      <!-- col.// -->
      <div class="col-xl">
        <a href="#" class="item-link text-center">
          <span class="icon icon-lg mb-2 rounded-3">
            <img width="42" height="42" src="/assets/IMG/chinese.png" />
          </span>
          <span class="text"> chinese </span>
        </a>
      </div>
      <!-- col.// -->
      <div class="col-xl">
        <a href="#" class="item-link text-center">
          <span class="icon icon-lg mb-2 rounded-3">
            <img width="42" height="42" src="/assets/IMG/Indian.png" />
          </span>
          <span class="text"> Indian </span>
        </a>
      </div>
      <!-- col.// -->
      <div class="col-xl">
        <a href="#" class="item-link text-center">
          <span class="icon icon-lg mb-2 rounded-3">
            <img width="42" height="42" src="/assets/IMG/chicken.png" />
          </span>
          <span class="text"> chicken </span>
        </a>
      </div>
      <!-- col.// -->
      <div class="col-xl">
        <a href="#" class="item-link text-center">
          <span class="icon icon-lg mb-2 rounded-3">
            <img width="42" height="42" src="/assets/IMG/mutton (2).png" />
          </span>
          <span class="text"> Mutton </span>
        </a>
      </div>
      <!-- col.// -->
      <div class="col-xl">
        <a href="#" class="item-link text-center">
          <span class="icon icon-lg mb-2 rounded-3">
            <img
              width="42"
              height="42"
              src="/assets/IMG/Dessert.png"
            />
          </span>
          <span class="text"> Dessert </span>
        </a>
      </div>
      <!-- col.// -->
      <div class="col-xl">
        <a href="#" class="item-link text-center">
          <span class="icon icon-lg mb-2 rounded-3">
            <img width="42" height="42" src="/assets/IMG/Cool drinks.png" />
          </span>
          <span class="text"> Cold drink </span>
        </a>
      </div>
      <!-- col.// -->
      <div class="col-xl">
        <a href="#" class="item-link text-center">
          <span class="icon icon-lg mb-2 rounded-3">
            <img width="42" height="42" src="/assets/IMG/Seafoods.png" />
          </span>
          <span class="text">Sea Foods </span>
        </a>
      </div>
      <!-- col.// -->
      <div class="col-xl">
        <a href="#" class="item-link text-center">
          <span class="icon icon-lg mb-2 rounded-3">
            <img width="42" height="42" src="/assets/IMG/Ice Cream.png" />
          </span>
          <span class="text"> Ice Cream </span>
        </a>
      </div>
      <!-- col.// -->

  </div>
  <!-- card-body.// -->
</div>

<!-- =================== COMPONENT 2 .// ================== -->
