.text-center{
   
  color: aliceblue;
  padding-top: 10px;


}

.text-white{
    width: 500px;
    margin-left: 500px;

}
.text-whit{
    width: 500px;
    margin-left: 475px;

}
.input-group{
    height: 340px;
   margin-left: 500px;
   width: 500px;
}
.col-auto{
    margin-left: 750px;
    width: 100px;
    margin-top: -22px;
    
}

.btn-warning{
    background-color: rgb(255, 98, 0);
}
.form-select{
    height: 21px;

}

