<app-header></app-header>
<app-navbar></app-navbar>

<section class="padding-y bg-light">
  <div class="container">
    <!-- =================== COMPONENT 1 ====================== -->
    <div
      class="card bg-primary p-5"
      style="
        min-height: 280px;
        background-size: cover;
        background-image: url(/assets/IMG/Untitled.png);
      "
    >
      <header class="text-center">
        <h2 class="text-white">Order food online now</h2>
        <p class="text-whit">Discover the best food and drinks in your area</p>
      </header>
      <form class="mx-auto w-100 mb-3" style="max-width: 720px">
        <div class="row g-2 w-100">
          <div class="col flex-grow">
            <div class="input-group">
              <select
                class="form-select"
                style="max-width: 30%"
                fdprocessedid=""
              >
                <option>chennai</option>
                <option>salem</option>
                <option>madurai</option>
              </select>
              <input
                type="text"
                placeholder="Food or cafe name"
                class="form-control"
                name=""
              />
            </div>
          </div>
          <!-- col.// -->
          <div class="col-auto">
            <button class="btn btn-warning" fdprocessedid="">Find food</button>
          </div>
          <!-- col.// -->
        </div>
        <!-- row.// -->
      </form>
    </div>
    <!-- =================== COMPONENT 1 .// ================== -->
    <br />
    <br />
    <!-- =================== COMPONENT 2 ====================== -->
    <app-categories></app-categories>
   
    <br />
    <br />
    <!-- =================== COMPONENT 3 ====================== -->
     <app-restaurants></app-restaurants>
    <br />
    <br />
    <!-- =================== COMPONENT 4 ====================== -->
    <!-- =================== COMPONENT 4 .// ================== -->
    <br />
    <br />
    
    <!-- p-4 .// -->
  </div>
  <!-- container .// -->
</section>

<app-footer></app-footer>
