<!-- admin-users.component.html -->

<app-admin-header></app-admin-header>
<app-admin-navbar></app-admin-navbar>
<div class="right">
  <div class="text-center">
    <input type="text" class="search"  placeholder="Search here" (input)="handleInput($event)">
  </div>
  <div class="container">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- _id Column -->
    <!-- <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>_id</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!user.editing">{{ user._id }}</span>
        <input *ngIf="user.editing" type="text" [(ngModel)]="user._id" (keyup.enter)="toggleEdit(user)">
      </td>
    </ng-container> -->
  
    <!-- user_id Column -->
    <ng-container matColumnDef="user_id">
      <th mat-header-cell *matHeaderCellDef>User_id</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!user.editing">{{ user.user_id }}</span>
        <input *ngIf="user.editing" type="text" [(ngModel)]="user.user_id" (keyup.enter)="toggleEdit(user)">
      </td>
    </ng-container>
  
    <!-- username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!user.editing">{{ user.username }}</span>
        <input *ngIf="user.editing" type="text" [(ngModel)]="user.username" (keyup.enter)="toggleEdit(user)">
      </td>
    </ng-container>
  
    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!user.editing">{{ user.email }}</span>
        <input *ngIf="user.editing" type="text" [(ngModel)]="user.email" (keyup.enter)="toggleEdit(user)">
      </td>
    </ng-container>
  
    <!-- address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!user.editing">{{ user.address }}</span>
        <input *ngIf="user.editing" type="text" [(ngModel)]="user.address" (keyup.enter)="toggleEdit(user)">
      </td>
    </ng-container>
  
    <!-- phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!user.editing">{{ user.phone }}</span>
        <input *ngIf="user.editing" type="text" [(ngModel)]="user.phone" (keyup.enter)="toggleEdit(user)">
      </td>
    </ng-container>
  
    <!-- role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!user.editing">{{ user.role }}</span>
        <input *ngIf="user.editing" type="text" [(ngModel)]="user.role" (keyup.enter)="toggleEdit(user)">
      </td>
    </ng-container>
  
    <!-- Edit Action Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button (click)="toggleEdit(user)" class="editing">
          <mat-icon>{{ user.editing ? 'Save' : '  Edit' }}</mat-icon>
        </button>
      </td>
    </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
</div>
<mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
[pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
[pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
[pageIndex]="pageIndex" aria-label="Select page">
</mat-paginator>

<button class="update" mat-button color="primary" (click)="updateData()">Update</button>
</div>