<section class="login-block">
    <div class="container">
        <div class="row ">
            <div class="col login-sec">
                <h2 class="text-center">Login Now</h2>
                <form class="login-form" action="" [formGroup]="log"  novalidate (ngSubmit)="onSubmit()" >
                <div class="form-group">
                    <label for="exampleInputEmail1" class="text-uppercase">UserName</label>
                    <input type="text"  class="form-control" name="text"  id="" placeholder="UserName" formControlName="UserName" required>
                    <span class="text-danger">
                        UserName is required.
                    </span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                    <input  class="form-control" type="password"  name="password" placeholder="password" id="" required  formControlName="password">
              
                  
                </div>
                <div class="form-group">
                    <span class="text-danger" *ngIf="this.errorMessage" >
                    <p [innerText]="this.errorMessage"></p>
                    </span>
                    <input  type="submit" class="btn btn-login float-right"   value="Login" (click)="submit=true">
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                Create new account ? Please <a  href="javascript:void(0);" routerLink="/register">Register</a>
                </div>
                </form>
            </div>
        </div>
    </div>
  </section>
  
  
  
  