


<nav class="navbar">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar_main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link ps-0" href="#" (click)="Onclick()"> Categories </a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu name</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">
                        Others
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="#">Submenu one </a> </li>
                        <li> <a class="dropdown-item" href="#">Submenu two</a> </li>
                        <li> <a class="dropdown-item" href="#">Submenu three</a> </li>
                    </ul>
                </li> -->
        </ul>
    </div> 
</div> 
</nav>