/* Align stepper horizontally */
.mat-horizontal-stepper-header-container {
  justify-content: center;
}

/* Styling for step labels */
.mat-step-label {
  font-weight: bold;
}

/* Error message styling */
.mat-error {
  color: red;
}

/* Optional: Adjust form field width */
mat-form-field {
  width: 100%;
}

mat-stepper{
  background-color: rgb(236, 235, 234);
}

