
  <!-- <video class="background-video" loop muted autoplay>
    <source src="src\assets\video\vi2.mp4" type="video/mp4">
  </video> -->
  <div class="wid">
<div class="background-video">
  <img [src]="images[currentStepIndex]" alt="Step Image">
  </div>



<div class="con">
<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
    <form [formGroup]="firstFormGroup" >
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <p>Go to a different step to see the error state</p>
        <button mat-button matStepperNext (click)="onNext()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Email is required.">
    <form [formGroup]="secondFormGroup" >
      <ng-template matStepLabel>Fill out your Email </ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="123@gmail.com" formControlName="secondCtrl"
               required>
      </mat-form-field>
      <div>
        <p>Go to a different step to see the error state</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="onNext()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" errorMessage="password must be at least 8 characters including(uppercase)">
    <form [formGroup]="thirdFormGroup" >
      <ng-template matStepLabel>Fill out your Password</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="********" formControlName="thirdCtrl"
               required>
      </mat-form-field>
      <div>
        <p>password must be at least 8 characters including(uppercase)</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="onNext()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup" errorMessage="address is required.">
    <form [formGroup]="fourthFormGroup" >
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="fourthCtrl"
               required>
      </mat-form-field>
      <div>
        <p>Go to a different step to see the error state</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="onNext()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fifthFormGroup" errorMessage="phone no is required.">
    <form [formGroup]="fifthFormGroup" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>Fill out your Phone no</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Phone no</mat-label>
        <input matInput placeholder="91**********" formControlName="fifthCtrl"
               required>
      </mat-form-field>
      <div>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button type="submit" >Register</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </div>
    </form>
  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button >Submit</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
</mat-stepper>
</div>

</div>
